
@font-face {
    font-family: "open-sans", sans-serif;
    src: url('./fonts/OpenSans-Regular.ttf');
}





* {
    padding: 0;
    margin: 0;
    font-family: merck;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}